@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

%headerfont {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%breadtextfont {
    font-family: "Roboto Flex", sans-serif;
}


@media (min-width: 1280px) {
    %newsheader {
        .textContainer {
            header {
              align-self: flex-start;
            }
          }
    }
}