@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.wrapperStyling {
    @include m.flexBox(column, center, center);
    background: $gray-color;
    min-height: 100vh;
    padding: 1rem 0rem;

    h2 {
        margin: 0;
    }
}