@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.wrapperStyling {
  @include m.flexBox(column, center, center);
  background: $gray-color;
  min-height: 80vh;
  padding: 1rem 0rem;

  &.articleGrid {

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      padding: 1rem 1rem;
    }
    
    @media (min-width: 1280px) {
      display: flex; //Temp
      // grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(8, 1fr);
      // grid-column-gap: 0px;
      // grid-row-gap: 0px;
      
      // display: grid;
      // grid-template-areas:
      // "news1 news1 news1"
      // "news1 news1 news1"
      // "news2 news2 news3"
      // "news2 news2 news4"
      // "news5 news5 news4"
      // "news6 news6 news6"
      // "news7 news7 news7"
      // "news8 news8 news8";
      // gap: 20px;
      // padding: 27px 20px 66px 20px;
      
    }
  }

  h2 {
    margin: 0;
  }
}
