@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.wrapperStyling {
  @include m.flexBox(column, center, center);
  background: $gray-color;
  min-height: 80vh;
  padding: 1rem 0rem;

  &.articleGrid {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      padding: 1rem 1rem;
    }

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: min-content;
      gap: 1rem;
      padding: 2rem 12rem;
    }
  }

  h2 {
    margin: 0;
  }
}
