@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
    margin: 0;
    background: $white-color;
    margin: 0rem 1rem;
    padding: 0.4rem 1rem;
    @extend %breadtextfont;

    header {
        p {
            color: $red-color;
            font-size: 17px;
        }
    }

    img {
        width: 100%;
        margin-top: 1rem;
    }

    a {
        text-decoration: none;
        color: $dark-color;
    }
}