@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center, 0rem);
  margin: 0;
  background: $white-color;
  margin: 0rem 1rem;
  padding: 0.4rem 1rem;
  @extend %breadtextfont;

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 650;
    min-height: 600px;
    max-height: 650px;

    .textContainer {
      padding: 0.4rem 1rem;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .thumbnailContainer {
      width: 100%;
      padding: 0;

      img {
        height: auto;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 1280px) {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    padding: 0;
    width: 60%;

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 4 / 2;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / 3 / 3;
    }
    &:nth-child(4) {
      grid-area: 3 / 2 / 5 / 3;
    }
    &:nth-child(5) {
      grid-area: 4 / 1 / 5 / 2;
    }
    &:nth-child(8) {
      grid-area: 7 / 1 / 9 / 2;
    }
    &:nth-child(9) {
      grid-area: 7 / 2 / 9 / 3;
    }

    .textContainer {
      padding: 2rem;
    }

    .thumbnailContainer {
      width: 100%;
      padding: 0;
    }

    &:nth-child(6) {
      flex-direction: row-reverse;
      gap: 1rem;
      padding: 0;
      grid-area: 5 / 1 / 6 / 3;

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-height: 60vh;
        height: 60vh;
      }

      img {
        margin: 0;
      }
    }
    &:nth-child(7) {
      flex-direction: row;
      gap: 1rem;
      padding: 0;
      grid-area: 6 / 1 / 7 / 3;

      img {
        margin: 0;
      }

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-height: 72vh;
        height: 72vh;
      }
    }

    h3 {
      margin: 0;
    }
  }

  &.singleArticle {

    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 1280px) {
      justify-content: center;
      align-items: center;
      width: 1280px;
      padding: 0;

      .textContainer {
        padding: 0;

        header {
          width: 100%;
        }

        figcaption {
          padding: 2rem;
        }
      }
    }

    //Thumnail Image on the bottom of the card
    .thumbnailStyling {
      display: none;
    }

    .headerImage {
      display: block;
      margin: 0;
    }

    figcaption {
      margin-top: 1rem;
      @include m.flexBox(column, center, center);
      max-width: 1000px;
    }
  }

  header {
    p {
      color: $red-color;
      font-size: 17px;
    }

    .headerImage {
      display: none;
    }
  }

  img {
    width: 100%;
    margin-top: 1rem;
  }

  a {
    text-decoration: none;
    color: $dark-color;
  }

  .adminContainer {
    @include m.flexBox(row, center, center, 0.5rem);
    position: absolute;
    top: 12%;
    right: 8%;

    @media (min-width: 768px) {
      right: 12%;
      top: 10%;
    }

    button {
      border: 0;
      background: transparent;
    }
    svg {
      fill: $red-color;
      font-size: 40px;
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }

      @media (min-width: 768px) {
        font-size: 52px;
      }
    }
  }
}
