@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.headerStyling {
  @include m.flexBox(row, space-between, center);
  background: $white-color;
  padding: 0.6rem 1rem;
  box-shadow: 2px 2px #00000040;
  
  @media (min-width: 1280px) {
    justify-content: space-evenly;
    gap: 1rem;
  }

  a {
    text-decoration: none;
  }

  h1 {
    margin: 0;
    @extend %headerfont;
    color: $red-color;

    @media (min-width: 1280px) {
      font-size: 48px;
    }
  }

  .imageContainer {
    @include m.flexBox(row, center, center, 1rem);

    .burgerStyling {
      @media (min-width: 1280px) {
        display: none;
      }
    }
  }
}
