@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.headerStyling {
  @include m.flexBox(row, space-between, center);
  background: $white-color;
  padding: 0.6rem 1rem;
  box-shadow: 2px 2px #00000040;

  a {
    text-decoration: none;
  }

  h1 {
    margin: 0;
    @extend %headerfont;
    color: $red-color;
  }

  // ul {
  //     display: none;
  // }

  .imageContainer {
    @include m.flexBox(row, center, center, 1rem);
  }
}
