@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.navStyling {
    display: none;

    @media (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        font-size: 19px;
        padding-left: 0;
    }
    
    &.visible {
        @include m.flexBox(column, center, center);
    }

    li {
        list-style-type: none;
        border-left: 2.3px solid $dark-color;
        border-right: 2.3px solid $dark-color;
        padding: 0rem 0.3rem;

        @media (min-width: 1280px) {
            padding: 0rem 0.7rem;
        }
    }

    a {
        color: $dark-color;
        text-decoration: none;
        @extend %breadtextfont;

        &.active {
            text-decoration: underline;
        }
    }
}