@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.footerStyling {
    border-top: 2px solid #00000040;
    padding-top: 0.8rem;
    @include m.flexBox(column, center, center, 1rem);
    @extend %breadtextfont;
    position: relative;
    bottom: 0;
    background: $white-color;

    @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}